.header-row {
    flex: 0 0 auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-block-end: 19.92px;
}

.header-row h1,
.header-row p {
    flex: 0 0 auto;
    margin: 0;
}

.header-row h1:not(:last-child),
.header-row p:not(:last-child) {
    margin-right: 16px;
}