.popout {
    margin: 0;
    flex: 0 0 auto;
    width: 300px;
    max-width: 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: max-width 0.3s;
}

.popout h2:first-child {
    margin-top: 0;
}

.popout h2:last-child {
    margin-bottom: 0;
}

.popout .popout-header {
    flex: 0 0 auto;
    width: 100%;
    padding: 16px;
    border-bottom: 0.5px solid #b4b4b4;
}

.popout .popout-content {
    width: 100%;
    flex: 1;
    padding: 16px;
    overflow-x: hidden;
    overflow-y: auto;
}

.popout.popout-open {
    max-width: 300px;
}