ul.watl-games-container {
    margin: 0;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}

.watl-games-container .watl-game-item {
    list-style-type: none;
    flex: 0 0 auto;
    width: calc(25% - 17px);
    min-width: 184px;
    height: auto;
    border-radius: 5px;
    border: 0.5px solid #b4b4b4;
    margin: 8px;
}

.watl-game-item p {
    margin-bottom: 8px;
}

.watl-game-item p:last-child {
    margin-bottom: 0;
}

.watl-game-item .watl-game-header {
    flex: 0 0 auto;
    padding: 0 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.watl-game-item .watl-game-header h2,
.watl-game-item .watl-game-header h3,
.watl-game-item .watl-game-header h4 {
    margin: 0;
}

.watl-game-item .watl-game-actions {
    flex: 0 0 auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.watl-game-item .watl-game-actions button {
    margin: 4px;
    flex: 1 auto;
}

.watl-game-throws-container {
    flex: 1 auto;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
}

.watl-game-throws-container .watl-game-throw-item {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 10px;
}

.watl-game-throw-index {
    flex: 0 0 auto;
    width: 25px;
    margin-right: 32px;
}

.watl-game-throw-score {
    flex: 0 0 auto;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.watl-game-throw-score.bullseye {
    background: red;
    color: #fff;
}

.watl-game-throw-score.killshot-miss {
    color: #737373;
}

.watl-game-throw-score.outer-killshot-hit {
    border: 1px solid blue;
    color: blue;
}

.watl-game-throw-score.inner-killshot-hit {
    background: blue;
    color: #fff;
}