.game-throw-item {
    flex: 0 0 auto;
    justify-content: flex-start;
    padding: 5px 10px;
    transition: 0.3s;
}

.game-throw-item .index {
    flex: 0 0 auto;
    width: 25px;
    font-size: 12px;
}

.game-throw-item .potential-score {
    color: red;
}

.game-throw-item.selected {
    background: #b4b4b4;
}