.game-score.watl.bullseye {
    background: red;
    color: #fff;
}

.game-score.watl.killshot-miss {
    color: #737373;
}

.game-score.watl.outer-killshot-hit {
    border: 1px solid blue;
    color: blue;
}

.game-score.watl.inner-killshot-hit {
    background: blue;
    color: #fff;
}